@font-face {
    font-family: Poppins-Reg;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-IT;
    src: url(Poppins-SemiBoldItalic.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

.main-section-about {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    padding: 24px;
    color: #565A2F;
}
h1 {
    font-family: 'EB Garamond', serif;
}
.about-pic img {
    width: 500px;
    height: fit-content;
    border-radius: 4px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
}

.event-section-about {
    display: flex;
    flex-direction: row-reverse;
    float: left;
    width: 100%;
    padding: 24px;
    color: #565A2F;
}

.about-text-main {
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 48px;
}

.about-text-solstice {
    display: flex;
    flex-direction: column;
    padding: 0px 48px 0px 0px;
}

.about-pic-sun img{
    width: 500px;
    height: fit-content;
    display: flex;
    align-content: center;
    float: right; 
    margin: 16px;
    margin-top: 64px;
}

.main-section-about-solstice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    padding: 24px;
    color: #565A2F;
    text-align: justify;
}

.emphasis {
    font-family: Poppins-IT;
}