@font-face {
    font-family: Poppins-IT;
    src: url(Poppins-SemiBoldItalic.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');


.main-section-inn {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    padding: 24px;
    color: #565A2F;
}

h1 {
    font-family: 'EB Garamond', serif;
    color: #565A2F;
}

.inn-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.inn-pic img {
    width: 400px;
    height: fit-content;
    position: relative; 
    margin-bottom:8px;
    margin-right: 0;
    border-radius: 4px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
}

.content {
    justify-content: center;
}

.inn-text-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px;
}

 
 h2 { 
    color: #565A2F;
    position: relative; 
    z-index: -1;
    padding: 8px;
    width: fit-content;
    background-color: white;
    opacity: 80%;
    font-family: 'EB Garamond', serif;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
    border-radius: 4px;
 }

 a {
    text-decoration: none;
 }

 .whats-app-emphasis {
     font-family: Poppins-IT;
 }