img {
    overflow: hidden;
    display: block;
}

.side-logo {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    padding-bottom: 24px;
    color: #565A2F;
}


.logo-image, img {
    float: left;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo-image-sidebar {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}



.gallery {
    display: flex;
    overflow:hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1rem -1rem;
    padding: 12px;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.post-border {
    background:#FFF; 
    border:0; 
    border-radius:3px; 
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
    margin: 1px;
    max-width:540px; 
    min-width:326px; 
    padding:0; 
    height: 99.375%;
    width:99.375%; 
    width:-webkit-calc(100% - 2px); 
}