img {
    overflow: hidden;
    display: block;
}

#home-pic {
    width: 700px;
    height: fit-content;
    border-radius: 4px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
}

.main-logo-section {
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
}

.side-logo {
    display: flex;
    flex-direction: column;
    float: left;
    width: 700px;
    padding-top: 16px;
    color: #565A2F;
}

.logo-image img {
    float: left;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gallery {
    display: flex;
    overflow:hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.post-border {
    background:#FFF; 
    border:0; 
    border-radius:3px; 
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
    margin: 1px;
    max-width:540px; 
    min-width:326px; 
    padding:0; 
    height: 99.375%;
    width:99.375%; 
    width:-webkit-calc(100% - 2px); 
}