.book-site {
  display: inline-block;
  width: 220px;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border-color:transparent;
  z-index: 1;
}
/* #b35642 */
.book-site:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffcc5d;
  border-radius: 8px;
  z-index: -2;
}
.book-site:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffb310;
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}
.book-site:hover {
  color: #fff;
}
.book-site:hover:before {
  width: 100%;
}

.insta {
  display: inline-block;
  width: 220px;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border-color:transparent;
  z-index: 1;
}
.insta:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ee3945;
  border-radius: 8px;
  z-index: -2;
}
.insta:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #dd2a7b;
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}
.insta:hover {
  color: #fff;
}
.insta:hover:before {
  width: 100%;
}


.fb {
  display: inline-block;
  width: 220px;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border-color:transparent;
  z-index: 1;
}
.fb:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5890ff;
  border-radius: 8px;
  z-index: -2;
}
.fb:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #4267b2;
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}
.fb:hover {
  color: #fff;
}
.fb:hover:before {
  width: 100%;
}

.whats-app {
  display: inline-block;
  width: 220px;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border-color:transparent;
  z-index: 1;
}
.whats-app:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #25d366;
  border-radius: 8px;
  z-index: -2;
}
.whats-app:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #128c7e;
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}
.whats-app:hover {
  color: #fff;
}
.whats-app:hover:before {
  width: 100%;
}

.btn {
  width:220px;
  margin-right: 24px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}