
@font-face {
    font-family: Poppins-Reg;
    src: url(Poppins-Regular.ttf);
}

.main-section {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    padding: 24px;
    color: #565A2F;
}

.extra-section {
    padding: 48px;
}

h1 {
    font-family: Poppins-Reg;
    color: #565A2F;
    margin-bottom: 24px;
}

.content {
    justify-content: center;
}

.text-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px;
}

 
 h2 { 
    color: #565A2F;
    position: relative; 
    padding: 8px;
    width: fit-content;
    font-family: Poppins-Reg;
 }

 a {
    text-decoration: none;
 }

 .other-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 .other-location img {
    width: 100%;
    height: fit-content;
}