body {
    margin:0;
    padding:0;
    line-height: 1.5em;
    background-color: #FDEEE3;
}

@font-face {
    font-family: Copperplate;
    src: url(CopperplateGothicLight.ttf);
}

#header {
    background: #565A2F;
    height: 100px;
    width: 100%;
    top: 0;
    clear: both;
    overflow: visible;
    position: fixed;
}

#header h1 {
    color: #FDEEE3;
    font-family: Copperplate;
    margin: 0;
    text-align: center;
    margin-left:24px;
    padding-top: 16px;
    font-size: 8ex;
}

#header h2 {
    color: #FDEEE3;
    font-size: smaller;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
}

.nav {
    justify-content: space-between;
}

#mainwrapper {
    overflow: hidden;
}

#contentwrapper{
    float: left;
    margin-right: -250px;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
}

#content {
    margin-right: 0px; /* Width of '#rightmenu' and '#leftmenu' combined. */
    padding: 24px;
    max-height:max-content;
    bottom: 0;
    top: 0; 

}

#footer{ 
    clear: left;
    width: 100%;
    background: #565A2F;
    text-align: center;
    bottom: 0;
    position: fixed;
    padding: 5px 0;
}

#footer p {
    color: #FDEEE3;
}

.innertube{
    margin: 16px; /* Padding for content */
    margin-top: 0;
}

p {
    color: #565A2F;
}
